# Ignora o ambiente virtual local (causador do erro)
.venv
venv
env

# Ignora cache do Python
__pycache__
*.pyc
*.pyo
*.pyd

# Ignora banco de dados local (se houver sqlite)
db.sqlite3

# Ignora arquivos de sistema
.DS_Store
Thumbs.db